* {
  font-family: "Noto Serif", serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  overflow-x: hidden;
}
.header {
  min-height: 100vh;
  width: 100%;
  background-image:url();
  background-position: center;
  background-size: cover;
  position: relative;
}

nav {
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}
nav img {
  width: 100px;
}
.nav-links {
  flex: 1;
  text-align: right;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
  text-align: center;
}
.nav-links ul li a {
  color:white;
  text-decoration: none;
  font-size: 15px;
  text-align: center;
}
.nav-links ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #f44336;
  display: block;
  margin: auto;
  transition: 0.5s;
}
.nav-links ul li:hover::after {
  width: 100%;
}
.text-box {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  text-align: center;
  color: #fff;
  width: 90%;
}
.text-box h1 {
  font-size: 48px;
}
.text-box p {
  margin: 10px 0 40px;
  font-size: 14px;
}
.hero-btn {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  padding: 12px 34px;
  font-size: 13px;
  background-color: transparent;
  position: relative;
  cursor: pointer;
}
.hero-btn:hover {
  border: 1px solid #f44336;
  background: #f44336;
  transition: 1s;
  color: #fff;
}
nav .fa {
  display: none;
}
@media (max-width: 700px) {
  .text-box h1 {
    font-size: 20px;
  }
  .nav-links ul li {
    display: block;
  }
  .nav-links {
    position: absolute;
    background: #f44336;
    height: 100vh;
    width: 200px;
    top: -800px;
    right: 0px;
    text-align: left;
    z-index: 2;
    transition: 0.7s;
    
  }
  nav .fa {
    display: block;
    margin-left: 10px;
    margin-top: 30px;
    font-size: 22px;
    cursor:pointer;
  }
  .nav-links ul {
    padding: 30px;
  }
  .header img{
    margin-top: 20px;
  }
  .header {
    height: 98vh;
    width: 100%;
    background-image:url();
    background-position: center;
    background-size: cover;
    position: relative;
}
 .section-title {
  --color: var(--radical-red);
  text-align: center;
  z-index: 1;
  position: absolute;
  font-size: 15px;
  margin-top: 800px;
  margin-left: -22px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  
}

  

#b1{
  font-size: 45px;
}
}
/*contact us page*/
@media(max-width:667px){
  .contact-info {
 
    border: 1px solid black;
    background-color:gainsboro;
    
    
  }
  
  /*.contact-info.active {
    -webkit-box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.7);
            box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.7);
    display: block;
    background-color: #eee;
  }
  
  .contact-info #close-contact-info {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    cursor: pointer;
    font-size: 4rem;
    color: var(--black);
  }
  
  .contact-info #close-contact-info:hover {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  */
  .contact-info .info {
    padding: 0rem;
  }
  
  .contact-info .info i {
    height: 2rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    background: var(--light-bg);
    color: var(--black);
    cursor: pointer;
    text-align: center;
    margin-top: -20px;
    margin-bottom: 10px;
    margin-left: 150px;
  }
  
  .contact-info .info i:hover {
    color: white;
    padding-top: 5px;
   
  }
  
  /*.contact-info .info h3 {
    font-size: 1.2rem;
    color: var(--black);
    text-transform: capitalize;
    padding: 1rem 0;
    text-align: center;
  }*/
  
  .contact-info .info p {
    font-size: 1rem;
    color: var(--light-color);
    line-height: 1.3;
    text-align: center;
    margin-top: 5px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  .contact-info .share {
    padding-top: 0.5rem;
    border-top: var(--border);
    margin-top: 1rem;
  }
  
  .contact-info .share a {
    height: 3rem;
    width: 5rem;
    line-height: 0.1rem;
    font-size: 2rem;
    background: var(--light-bg);
    color: var(--black);
    cursor: pointer;
    text-align: center;
    margin: 0 .2rem;
    
  }
  
  .contact-info .share a:hover {
    color:white;
  } 

  #h7{
    
    margin-top: -20px;
    margin-left: 140px;
    font-size: 15px;
  }
  #a1{
    color: white;
  }

}
/*contact us ends*/


/*home page start*/
@media(max-width:667px){

#p1{
  height:70px;
  width: 100%;
  background-color:red;
  padding: 5px;
  padding-top: 5px;
  text-align: center;
  color: white;
  font-size: 24px;
  margin-top: -600px;
  border: 1px solid black;
  
}
#p1:hover{
  background-color: yellow;
  color:black;
}

#marquee1{
  color: black;
  background-color: #fff;

}
marquee{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 2rem;
  color: black;
  background: linear-gradient(to left,red, yellow);
}
#div2{
  margin-top: -5px;
  background-color:rgb(213, 243, 233);
  width:100%;
  height: 320px;
}
#p2{
  margin-top: 10px;
  padding: 10px;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#p3{
  margin-left: 10px;
  padding-left: 20px;
  padding-right: 30px;
  margin-top: 10px;
  text-align: justify;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#div3{
  width:100%;
  height: 320px;
  background-color: rgb(241, 195, 204);
}
#p4{
  padding: 10px;
  text-align: justify;
  padding-left: 20px;
  padding-right: 30px;
}
#p5{
  margin-left: 10px;
  padding-left: 20px;
  padding-right: 30px;
  margin-top: 10px;
  text-align: justify;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
#div4{
  background-color: rgb(213, 243, 233);
  width:100%;
  height: 340px;
}
#p6{
  padding: 10px;
  text-align: justify;
  padding-left: 20px;
  padding-right: 30px;
}
#p7{
  margin-left: 10px;
  padding-left: 20px;
  padding-right: 30px;
  margin-top: 5px;
  text-align: justify;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
#div5{
  width:100%;
  height: 320px;
  background-color: rgb(241, 195, 204);
}
#p8{
  padding: 10px;
  text-align: justify;
  padding-left: 20px;
  padding-right: 30px;
}
#p9{
  margin-left: 10px;
  padding-left: 20px;
  padding-right: 30px;
  margin-top: 10px;
  text-align: justify;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
#div6{
  background-color: rgb(213, 243, 233);
  width:100%;
  height: 320px;
}
#p10{
  padding: 10px;
  text-align: justify;
  padding-left: 20px;
  padding-right: 30px;
}
#p11{
  margin-left: 10px;
  padding-left: 20px;
  padding-right: 30px;
  margin-top: 5px;
  text-align: justify;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
#div7{
  width:100%;
  height: 320px;
  background-color: rgb(241, 195, 204);
}
#p12{
  padding: 10px;
  text-align: justify;
  padding-left: 20px;
  padding-right: 30px;
}
#p13{
  margin-left: 10px;
  padding-left: 20px;
  padding-right: 30px;
  margin-top: 10px;
  text-align: justify;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
#div8{
  background-color: rgb(213, 243, 233);
  width:100%;
  height: 320px;
}
#p14{
  padding: 10px;
  text-align: justify;
  padding-left: 20px;
  padding-right: 30px;
}
#p15{
  margin-left: 10px;
  padding-left: 20px;
  padding-right: 30px;
  margin-top: 5px;
  text-align: justify;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
#div9{
  width:100%;
  height: 320px;
  background-color: rgb(241, 195, 204);
}
#p16{
  padding: 10px;
  text-align: justify;
  padding-left: 20px;
  padding-right: 30px;
}
#p17{
  margin-left: 10px;
  padding-left: 20px;
  padding-right: 30px;
  margin-top: 10px;
  text-align: justify;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
#div10{
  
  background-color: rgb(213, 243, 233);
  width:100%;
  height: 320px;
  margin-top: -50px;
}
#p18{
  padding: 10px;
  text-align: justify;
  padding-left: 20px;
  padding-right: 30px;
}
#p19{
  margin-left: 10px;
  padding-left: 20px;
  padding-right: 30px;
  margin-top: 5px;
  text-align: justify;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
#div11{
  width:100%;
  height: 320px;
  background-color: rgb(241, 195, 204);
}
#p20{
  padding: 10px;
  text-align: justify;
  padding-left: 20px;
  padding-right: 30px;
}
#p21{
  margin-left: 10px;
  padding-left: 20px;
  padding-right: 30px;
  margin-top: 5px;
  text-align: justify;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
#p22{
  margin-top: 10px;
  border: 1px solid black;
  height:50px;
  font-size: 18px;
  padding-left: 10px;
  padding-top: 10px;
  text-align:center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#h2{
  background-color:rgb(9, 159, 219);
  height:50px;
  width:90px;
  padding-top: 10px;
  padding-left: 20px;
  font-size: 18px;
}
#a2{
  color: white;
  
}
#h3{
  background-color:rgb(9, 159, 219);
  height:50px;
  width:90px;
  margin-left: 100px;
  margin-top: -50px;
  padding-top: 10px;
  padding-left: 30px;
  font-size: 18px;
}
#a3{
  color:white;

}
#h4{
  background-color: rgb(9, 159, 219);
  height:50px;
  width:160px;
  margin-left: 200px;
  margin-top: -50px;
  padding-top: 10px;
  font-size: 17px;
}
#a4{
  color: white;
  
}
#div12{
  margin-top: 10px;
 margin-left: 250px;
}
#a7{
  color:blue;
}
}