*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: 'poppins', sans-serif;
	font-size: 18px;
}
body{
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}
.container{
	height:950px;
	width: 800px;
	padding: 30px;
	border: 1px solid #eeeeee;
	border-radius: 10px;
	background-color: #003b5b;
	margin-left: -100px;
}
h4{
	margin-bottom: 10px;
	font-size: 64px;
	color: white;
}
input{
	font-size: 45px;
	width: 100%;
	padding: 10px;
	margin-bottom: 10px;
}
textarea{
	font-size: 45px;
	width: 100%;
	padding: 10px;
}
#submit{
	border: none;
	background-color: orangered;
	color: white;
	width: 300px;
	margin-top: 10px;
	border-radius: 5px;
}
#submit:hover{
	background-color: #333333;
}
#m1{
	margin-top: -850px;
	margin-left: -200px;
	height:90px;
	width: 90px;
}
