* {
  font-family: "Noto Serif", serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  overflow-x: hidden;
}
.header {
  min-height: 100vh;
  width: 100%;
  background-image:url();
  background-position: center;
  background-size: cover;
  position: relative;
}

nav {
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}
nav img {
  width: 100px;
}
.nav-links {
  flex: 1;
  text-align: right;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
  text-align: center;
}
.nav-links ul li a {
  color:white;
  text-decoration: none;
  font-size: 15px;
  text-align: center;
}
.nav-links ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #f44336;
  display: block;
  margin: auto;
  transition: 0.5s;
}
.nav-links ul li:hover::after {
  width: 100%;
}
.text-box {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  text-align: center;
  color: #fff;
  width: 90%;
}
.text-box h1 {
  font-size: 48px;
}
.text-box p {
  margin: 10px 0 40px;
  font-size: 14px;
}
.hero-btn {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  padding: 12px 34px;
  font-size: 13px;
  background-color: transparent;
  position: relative;
  cursor: pointer;
}
.hero-btn:hover {
  border: 1px solid #f44336;
  background: #f44336;
  transition: 1s;
  color: #fff;
}
nav .fa {
  display: none;
}
@media (max-width: 700px) {
  .text-box h1 {
    font-size: 20px;
  }
  .nav-links ul li {
    display: block;
  }
  .nav-links {
    position: absolute;
    background: #f44336;
    height: 100vh;
    width: 200px;
    top: -800px;
    right: 0px;
    text-align: left;
    z-index: 2;
    transition: 0.7s;
    
  }
  nav .fa {
    display: block;
    margin-left: 10px;
    margin-top: 30px;
    font-size: 22px;
    cursor:pointer;
  }
  .nav-links ul {
    padding: 30px;
  }
  .header img{
    margin-top: 20px;
  }
  .header {
    height: 98vh;
    width: 100%;
    background-image:url();
    background-position: center;
    background-size: cover;
    position: relative;
}
 .section-title {
  --color: var(--radical-red);
  text-align: center;
  z-index: 1;
  position: absolute;
  font-size: 15px;
  margin-top: 800px;
  margin-left: -22px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  
}
}
/*-----------------------------------*\
  #HERO
\*-----------------------------------*/

.hero { padding-block-start: calc(var(--section-padding) + 80px); }

.hero .container {
  display: grid;
  gap: 40px;
}
.has-bg-image {
  height:950px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero-text {
  color: var(--eerie-black-1);
  font-size: var(--fs-4);
  text-align: left;
  margin-block: 18px 20px;
}

.hero .btn { margin-inline: auto; }

.hero-banner {
  display: grid;
  grid-template-columns: 1fr 0.8fr;
  align-items: flex-start;
  gap: 30px;
  margin-left: -90px;
}


.hero-banner .img-holder.one img {
  position: absolute;
  margin-left: 560px;
  border-radius: 100%;
  margin-top: -220px;
}
.hero-banner .img-holder.three img{
  position: absolute;
  border-radius: 100%;
  margin-left: -890px;
  margin-top: 280px;
 
}
.hero-banner .img-holder.two img{
  position: relative;
  border-radius: 100%;
  margin-left: 1050px;
  margin-top: -60px;
  z-index: 1;
  
}
.hero-banner .hero-shape-2{
  margin-left: -750px;
 margin-top: -250px;
}



@media (max-width:667px){
  .has-bg-image{
     height:270px;
     width: 100%;
     margin-top: -580px;
  }
  .container .section-title{
      font-size: 20px;
      margin-left: 140px;
      margin-top: -150px;
    
  }
  .container .hero-banner .img-holder.one img{
     height:150px;
     width:150px;
     margin-left: 110px;
     margin-top: 50px;
     
  }

  .container .hero-banner .img-holder.two img{
      height:170px;
      width:170px;
      margin-left: 285px;
      margin-top: -5px;
      
  }
  #img1{
    position: absolute;
    width: 100%;
    height:230px;
    margin-top: 10px;
  }
  #div11{
    height:490px;
    width:100%;
    background-color: #fff;
    margin-top: 250px;
  }
  #h2{
    font-size: 25px;
    text-align: center;
    margin-top: -245px;
    color: rgb(169, 35, 35);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  #p2{
   text-align: center;
   font-size: 20px;
   margin-top: -5px;
  }
  #p1{
    margin-top: 250px;
    font-size: 18px;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  #div13{
    height:480px;
    width:100%;
    background-color: #fbcccc;
    
  }
  #p5{
    height:70px;
    width: 100%;
    background-color:red;
    padding: 5px;
    text-align: center;
    color: white;
    font-size: 24px;
    margin-top: -7px;
 }
  #p5:hover{
    background-color: yellow;
  }
  #p5:hover{
    color: rgb(9, 9, 9);
  }
  #img6{
    height:100px;
    width: 43%;
    margin-top: 25px;
    margin-left: 18px;
  }
  #img7{
    height:100px;
    width:43%;
    margin-left: 10px;
  }
  #p6{
    text-align: center;
    margin-left: -180px;
  }
  #p7{
    text-align: center;
    margin-left: 170px;
    margin-top: -45px;
  }
  #img8{
    height:100px;
    width: 43%;
    margin-top: 25px;
    margin-left: 18px;
  }
  #img9{
    height:100px;
    width:43%;
    margin-left: 10px;
  }
  #p8{
    text-align: center;
    margin-left: -180px;
  }
  #p9{
    text-align: center;
    margin-left: 170px;
    margin-top: -45px;
  }
  #div14{
    height:470px;
    width:100%;
    background-color: rgb(204, 247, 204);
    margin-top: -20px;
  }
  #p10{
    height:70px;
    width: 100%;
    background-color:green;
    padding-top: 10px;
    text-align: center;
    color: white;
    font-size: 30px;
   
  }
  #p10:hover{
    background-color: yellow;
  }
  #p10:hover{
    color: rgb(9, 9, 9);
  }
  #img10{
    height:100px;
    width: 43%;
    margin-top: 25px;
    margin-left: 18px;
  }
  #img11{
    height:100px;
    width:43%;
    margin-left: 10px;
  }
  #p11{
    text-align: center;
    margin-left: -180px;
  }
  #p12{
    text-align: center;
    margin-left: 170px;
    margin-top: -45px;
  }
  #img12{
    height:100px;
    width: 43%;
    margin-top: 25px;
    margin-left: 18px;
  }
  #img13{
    height:100px;
    width:43%;
    margin-left: 10px;
  }
  #p13{
    text-align: center;
    margin-left: -180px;
  }
  #p14{
    text-align: center;
    margin-left: 170px;
    margin-top: -45px;
  }
  #h4{
    z-index: 1;
    margin-left: 42px;
    margin-top: -110px;
    font-size: 14px;
    color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   }
   #h5{
    text-align: center;
    margin-top: -145px;
    margin-left: -160px;
    z-index: 1;
    font-size: 13px;
    color: rgb(78, 76, 76);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   }
   #h3{
    font-size: 25px;
    color:blue;
    z-index: 1;
    margin-left: 220px;
    margin-top: -117px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  #h3:hover{
    color:red;
  }
  #h6{
    
    margin-left: 30px;
    z-index: 1;
    margin-top: -155px;
    font-size: 25px;
    color: red;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  #h6:hover{
     color: blue;
  }

  #div15{
    background-color: white;
     height:250px;
     width:100%;
     border:1px solid black;
  }
  #p16{
    height:75px;
    width: 100%;
    background-color:rgb(194, 236, 221);
    text-align: center;
    color: red;
    font-size: 20px;
    margin-top: 10px;
    padding-top: 5px;

  }
  #p16:hover{
    background-color: yellow;
    color: black;
  }
  #p17{
    height:75px;
    width: 100%;
    background-color:rgb(239, 177, 177);
    text-align: center;
    color:black;
    font-size: 20px;
    margin-top: 10px;
    padding-top: 5px;
  }
  #p17:hover{
    background-color: yellow;
    color: red;
  }
  #p18{
    height:50px;
    width: 45%;
    background-color:yellow;
    text-align: center;
    color: red;
    font-size: 15px;
    margin-top: 10px;
    padding-top: 5px;
    margin-left: 10px;

  }
  #p18:hover{
    background-color: red;
    color:yellow;
  }
  #p19{
    height:50px;
    width: 45%;
    background-color:yellow;
    text-align: center;
    color:red;
    font-size: 15px;
    margin-top: -50px;
    padding-top: 5px;
    margin-left: 195px;
  }
  #p19:hover{
    background-color: red;
    color: yellow;
  }
}
 
 
 /*#h3{
   position: absolute;
   margin-left: 1100px;
   margin-top: -600px;
   z-index: 1;
   font-size: 32px;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 }
 #h4{
  position: relative;
  margin-left: 530px;
  margin-top: 90px;
  z-index: 1;
  color: black;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 }
 #h5{
  position: relative;
  margin-left: 670px;
  z-index: 1;
  font-size: 17px;
  text-align: center;
  margin-top: -30px;
  color: rgb(78, 76, 76);
  width: 100px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 }
 #h6{
  position: absolute;
  margin-left: 630px;
  margin-top: -230px;
  z-index: 1;
  font-size: 13px;
  color: rgb(98, 96, 96);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 }*/
 /*#div11{
  height:16%;
  width:100%;
  border: 1px solid black;
  margin-top: 70px;
  background-color: white;
  
 }
  /*slider*/
  @media(max-width:667px){
  
  .slider_container {
    position: relative;
    width: 100%;
    height: 13.5rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    margin-top: 10px;
    border: 1px solid black;
  }
  .heading{
    text-align: center;
    font-size: 20px;
    margin-top: -60px;
    margin-left: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  #p15{
    margin-top: 2.4px;
    height:70px;
    width: 30px;
    background-color:green;
    
  }
  .slider {
    position: relative;
    width: 700%;
    height: 110%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-evenly;
    animation: 12s cubic-bezier(1, 0.95, 0.565, 1) sliding infinite;
  }
  .slide {
    position: relative;
    min-width: 100%;
    height: 110%;
  }
  .slide img {
    width: 100%;
    height: 110%;
  }
  .slide .caption {
    position: absolute;
    left: 0;
    bottom: 5%;
    font-size: 3rem;
    font-weight: 600;
    color: white;
    text-transform: capitalize;
    background: rgba(0, 0, 0, 0.348);
    backdrop-filter: blur(10px);
    padding: 1rem 5rem;
    border-radius: 0 2rem 2rem 0;
  }
  .slide.one {
    background: rgb(182, 19, 109);
  }
  .slide.two {
    background: rgb(255, 64, 64);
  }
  .slide.three {
    background: rgb(11, 173, 188);
  }
  .slide.four {
    background: rgb(11, 188, 14);
  }
  .slide.five {
    background: rgb(173, 11, 188);
  }
  @keyframes sliding {
    0% {
      transform: translateX(0%);
    }
    20% {
      transform: translateX(0%);
    }
    25% {
      transform: translateX(-100%);
    }
    45% {
      transform: translateX(-100%);
    }
    50% {
      transform: translateX(-200%);
    }
    70% {
      transform: translateX(-200%);
    }
    75% {
      transform: translateX(-300%);
    }
    95% {
      transform: translateX(-300%);
    }
    100% {
      transform: translateX(-400%);
    }
    120%{
      transform:translateX(-550%) ;
    }
  }
  }
  
/*contact us page*/
 @media(max-width:667px){
  .contact-info {
 
    border: 1px solid black;
    background-color:gainsboro;
    
    
  }
  
  /*.contact-info.active {
    -webkit-box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.7);
            box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.7);
    display: block;
    background-color: #eee;
  }
  
  .contact-info #close-contact-info {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    cursor: pointer;
    font-size: 4rem;
    color: var(--black);
  }
  
  .contact-info #close-contact-info:hover {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  */
  .contact-info .info {
    padding: 0rem;
  }
  
  .contact-info .info i {
    height: 2rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    background: var(--light-bg);
    color: var(--black);
    cursor: pointer;
    text-align: center;
    margin-top: -10px;
    margin-bottom: 10px;
    margin-left: 150px;
  }
  
  .contact-info .info i:hover {
    color: white;
    padding-top: 5px;
   
  }
  
  /*.contact-info .info h3 {
    font-size: 1.2rem;
    color: var(--black);
    text-transform: capitalize;
    padding: 1rem 0;
    text-align: center;
  }*/
  
  .contact-info .info p {
    font-size: 1rem;
    color: var(--light-color);
    line-height: 1.3;
    text-align: center;
    margin-top: 5px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  .contact-info .share {
    padding-top: 0.5rem;
    border-top: var(--border);
    margin-top: 1rem;
  }
  
  .contact-info .share a {
    height: 3rem;
    width: 5rem;
    line-height: 0.1rem;
    font-size: 2rem;
    background: var(--light-bg);
    color: var(--black);
    cursor: pointer;
    text-align: center;
    margin: 0 .2rem;
    
  }
  
  .contact-info .share a:hover {
    color:white;
  } 

  #h7{
    
    margin-top: -20px;
    margin-left: 140px;
    font-size: 15px;
  }
  #a1{
    color: white;
  }

}
/*contact us ends*/

/*apply for job start*/
@media only screen and(max-width:667px){
 .containergol{
	width: 500px;
	padding: 30px;
	border: 1px solid #eeeeee;
	border-radius: 10px;
	background-color: #345b00;
}
h4{
	margin-bottom: 10px;
	font-size: 24px;
	color: white;
}
input{
	width: 100%;
	padding: 10px;
	margin-bottom: 10px;
}
textarea{
	width: 100%;
	padding: 10px;
}
#submit{
	border: none;
	background-color: orangered;
	color: white;
	width: 200px;
	margin-top: 10px;
	border-radius: 5px;
}
#submit:hover{
	background-color: #333333;
}
}
/*apply for job ends*/

/*blog section part1 starts*/
@media(max-width:667px){
#b1{
  font-size: 45px;
}
#b2{
  font-size: 45px;
}
#b3{
  font-size: 45px;
}
#b4{
  font-size: 45px;
}
}